@import url(reset.css);

body { width: 1440px;
  margin: 0 auto;

}

main {text-align: center;
}

header {height: 60px;
  background-color: red;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
}

.column {
  width: 400px;
  border: 5px solid #E5E000;
  box-sizing: border-box;
  border-radius: 30px;
  display: inline-block;
  padding: 30px;
  margin-top: 56px;
  margin-bottom: 56px;
}

.two {margin-left: 20px;
}

.three {margin-left: 20px;
}

}
footer {width: 60px;
height: 1140px;
top: 964px;
left: 0px;
}

p { font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
 text-align: left;
 margin-top: 41px;
}

h1 {font-family: Helvetica;
  font-size: 20px;
text-align: left;}



